.body2 {
    margin: auto;
    text-align: center;
    background-color: brown;
}

.inp {
    background-color: chartreuse;
    color: chocolate;
    font-size: 24px;
    text-align: center;
    font-family: serif;
    font-style: italic;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
}

.btn:hover {
    color: blue;
    background-color: white;
}